<h1>
    My Views
</h1>

<ul>
    <li>Person:
        <ul>
            <li>Image</li>
            <li>Category:
                <ul>
                    <li>Post: </li>
                    <li>Post: </li>
                    <li>Post: </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Person:<ul>
            <li>Image</li>
            <li>Category:
                <ul>
                    <li>Post: </li>
                    <li>Post: </li>
                    <li>Post: </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Person:<ul>
            <li>Image</li>
            <li>Category:
                <ul>
                    <li>Post: </li>
                    <li>Post: </li>
                    <li>Post: </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>